<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>

<p class="alert-success" ng-show="formulario.$submitted && mensagemSucesso">{{mensagemSucesso}}</p>
<p class="alert-danger" ng-show="formulario.$submitted && mensagemErro">{{mensagemErro}}</p>

<!-- através do atributo name temos acesso ao objeto criado implicitamente pelo Angular -->
<!-- desabilitado validacao do HTML5 -->
<form novalidate name="formulario" class="row" id="form" ng-submit="submiter()">

    <div class="col-md-6">

        <div class="form-group">
            <label>
                <i class="required-icon">*</i>Título:
            </label>
            <input class="form-control" type="text" id="form-titulo" name="titulo" 
                   ng-model="foto.titulo" placeholder="Descreva o título..." required>
            <span class="form-control alert-danger error-message" ng-show="formulario.$submitted && formulario.titulo.$error.required">
                O Título deve ser preenchido
            </span>
        </div>

        <div class="form-group">
            <label>
                <i class="required-icon">*</i>URL:
            </label>
            <input class="form-control" type="text" id="form-url" name="url" 
                   ng-model="foto.url" placeholder="Descreva a URL..." required>
            <span class="form-control alert-danger error-message" ng-show="formulario.$submitted && formulario.url.$error.required">
                A URL deve ser preenchida
            </span>
        </div>
        
        <div class="form-group">
            <label>
                <i class="required-icon">*</i>Descricao:
            </label>
            <textarea class="form-control" id="form-desc" name="descricao"
                      ng-model="foto.descricao" placeholder="Descreva sobre a foto..." required></textarea>
            <span class="form-control alert-danger error-message" ng-show="formulario.$submitted && formulario.descricao.$error.required">
                A Descrição deve ser preenchida
            </span>
        </div>

        <div class="form-group">
            <label>
                <i class="required-icon">*</i>Grupo:
            </label>
            <!-- É obrigatório o uso do ng-model nesta ocasião -->
            <select class="form-control" id="form-grupo" name="grupo" 
                    ng-controller="GrupoController" ng-model="foto.grupo" 
                    ng-options="grupo._id as ( grupo.nome | uppercase ) for grupo in grupos" required>
                <option value="">Selecione...</option>
            </select>
            <span class="form-control alert-danger error-message" ng-show="formulario.$submitted && formulario.grupo.$error.required">
                O Grupo deve ser selecionado
            </span>
        </div>

        <button type="submit" id="form-btn-save"
                class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
        
        <a class="btn btn-primary" id="form-btn-back" href="/fotos">Voltar</a>

    </div>

    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
    </div>

</form>
